
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h1
{
    font-weight: bolder;
    color: #fff;
}

.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3c8eb4c3;
    padding: 10px 20px;
    z-index: 1000;
}

.navbar .left, .navbar .right
{
    display: flex;
    align-items: center;
}

.navbar a, .navbar button,.dropdown a, .dropdown-content a, .dropdown-content button
{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.navbar a:hover, .navbar button:hover,.dropdown a:hover,.dropbt:hover ,.dropdown-content a:hover, .dropdown-content button:hover
{
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
}

@media (max-width: 1024px)
{
    .navbar
    {
        justify-content: center;
    }

    .navbar .left {
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 10px;
    }

    .search-form {
        margin: 10px 0;
        flex-grow: 0;
    }

    .navbar .right {
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 600px)
{
    .search-form {
        display: none;
    }

    .navbar .left, .navbar .right {
        width: 100%;
        justify-content: center;
        margin: 5px 0;
    }

    .navbar .left a, .navbar .right a {
        margin: 5px;
    }

}

.dropdown
{
    display: inline-block;
    position: relative;
}

.dropdown-content-left
{
    left: 0;
    right: auto;
}

.dropdown-content-right
{
    right: 0;
    left: auto;
}
.dropdown-content-right .button
{
    padding: 10px;
    margin: 10px;
    background-color: transparent;
    color: white;
    position: static;

}
.dropdown-content-right .button:hover
{
    color: black;
    background-color: white;
    box-shadow: none;
}
.dropdown a, .dropdown button
{
    display: inline-block;
}

.dropdown-content
{
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: rgba(99, 160, 210, 0.741);
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 8px;
    padding: 10px 0;
}

.dropdown-content a, .dropdown-content button
{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.dropdown-content a:hover, .dropdown-content button:hover
{
    background-color: rgba(255, 255, 255, 0.292);
}

.dropdown.active .dropdown-content
{
    display: block;
}

.dropdown-content button
{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.notifications-dropdown .dropdown-content
{
    width: 300px;
    max-height: 400px;
     overflow-y: auto;
  }

.icon
{
    font-size: 12px;
}

.create
{
    height: auto;
    border: 1px solid white;
    box-shadow: 3px 3px 8px grey;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 15px;
}

.create .form-input
{
    height: 35px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-top: 10px;
    margin-bottom: 10px;
}

.create .form-div
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.create .form-input:focus
{
    outline: none;
    border: 2px solid #2596be;
}

.create p
{
    padding-left: 5px;
    font-size: 15px;
    display: inline-block;
}

.create p:hover
{
    animation: moving 2s;
}

@keyframes moving
{
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
}

.save_cancel
{
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.save_cancel button
{
    margin-top: 10px;
    height: 35px;
    border-radius: 5px;
    width: 70px;
    border: none;
}


.save_cancel input
{
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
}

.save
{
    background-color: #3c8eb4c3;
    color: white;
    transition:  transform 0.2s ease;
}

.cancel
{
    background-color: #888;
    color: white;
    transition:  transform 0.2s ease;
}

.save:hover , .cancel:hover , .delete:hover
{
    transform : translateY(-5px);
}

.map-container
{
    width: 100%;
    height: 400px;
    display: inline-block;
}


.input-container
{
    margin-bottom: 10px;
}

.modal
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 8px grey;
    animation: fadeIn 0.5s;
}

.modal-content
{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
    border: 1px solid white;
    box-shadow: 3px 3px 8px grey;
}

#saveButton
{
    margin-top: 10px;
}

.input-container
{
    display: flex;
    flex-direction: column;
}

.input-container button
{
    margin-top: 15px;
    margin-right: 5px;
    width: 70px;
    height: 35px;
    border-radius: 5px;
    border: none;
    color: white;
}

.input-container input
{
    width: 20%;
    height: 35px;
    margin-top: 15px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid grey;
}

.input-container input:focus
{
    outline: none;
    border: 2px solid #2596be;
}

.point input[type="text"],
.point input[type="file"],
.point button,
.point img {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 2px;
}

.point input[type="file"]
{
    width: 15%;
}

.delete
{
    background-color: rgb(208, 61, 103);
    color: white;
    transition: transform 0.2s ease;
}

.map
{
    width: 400px;
    height: 400px;
}
.post_image-preview {
    z-index: 1000;
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 700px;
    max-height: 600px;
    display: block;
    margin: auto;
    border: solid 1px black;
}
.image-lable
{
    display: block;
    width: 160px;
    padding: 7px 17px;
    background-color: #3c8eb4c3;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin-top: 10px;

}
.image-lable:hover
{
    transform: translateY(-5px);
    transition: 0.2s ease;
    box-shadow: 3px 3px 8px grey;
}
.posts_body
{
    display: flex;
    justify-content: center;
    margin-top: 10px ;
}
.whatsOnYourMind
{
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin: 10px;
}
.whatsOnYourMind .text
{
    border-radius:10px ;
    border: none;
}
.post_card
{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    max-height: 600px ;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin: 10px;

}
.post_card .post_image
{
    width: auto;
    height: auto;
    max-height: 400px;
    object-fit: contain;
}
.post_card .info
{
    margin: 5px;
    padding: 10px;

}
.count
{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
}
.functions
{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin: 5px;
}
.user_image_name
{
    display: flex;
}
.user_image_name img
{
    margin: 5px;
    border-radius: 50%;
    width: 55px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: inline-block;

}
.user_image_name label
{
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
}
.user_image_name .date
{
    display: flex;
    flex-direction: column;
}
hr
{
 margin: 5px;
}

.Comments-content {
    background-color: #fff;
    color: black;
    border: 1px solid #888;
    width: 500px;
    min-height: 500px;
    max-height: 600px ;
    position: relative;
    box-shadow: 0 0.075em 1em #0b0c0e4d;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.comments_section
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;

}

.comments_section .comment
{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.comment .comment-user img
{
    margin: 5px;
    border-radius: 50%;
    width: 55px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: inline-block;
}
.create_comment
{
display: flex;
flex-direction: column;
}
.create_comment input
{
    width: 90%;
    border-radius: 10px;
}
.close {
    position: sticky;
    top: 0;
    right: 0;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
}
.close button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 5px;
    font-size: 1.5rem;
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.2s;

}

.close button::before {
    content: '\00D7';
    font-weight: bold;
}

.close button:hover {
    background-color: rgb(208, 61, 103);
    color: white;
}
.sticky-footer {
    position: sticky;
    bottom: 0;
    background: white;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
}


.functions .like, .functions .comment, .functions .share {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.functions .like:hover, .functions .comment:hover, .functions .share:hover {
    transform: scale(1.05);
}
.create_comment i:hover
{
    color: #27658e;
}
.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #27658e;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

.fade-out {
    animation: fadeOut 0.4s;
}
.fade-in {
    animation: fadeIn 0.4s ;
}
.posts_body i:hover{
    color: #27658e;
    cursor: pointer;
}
