body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #abd4d8, #2596be);
    filter: blur(0.3px);
    padding: 5px 20px;
    z-index: 1000;

  }
  button
  {
    border: none;
    color: white;
  }

 @media (max-width: 600px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

}

@media (max-width: 400px) {

  #folded
  {
    display: none;
  }
}

 .navbar a
 {
   text-decoration: none;
   color: white;
   display: inline-block;
   padding: 7px;

 }

.navbar a:hover
{
  transform: translatey(-5px);
  transition: 0.2s ease;
}

.dropdown
{
  display: inline-block;
  position: relative;


}
.dropdown-content
{
  display: none;
  position: absolute;

  min-width: 100px;
  background: linear-gradient(to right, #abd4d8, #2596be);
  filter: blur(0.4px);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);


}


.dropdown:hover .dropdown-content
{
  display: block;
}

.dropdown-content button
{
    outline: none;
    color: white;
    background-color: transparent;
    border: none;
    padding-bottom: 7px;
    padding-left: 5px;
    font-size: medium;
}
.dropdown-content button:hover
{
    transform: translatey(-5px);
    transition: 0.2s ease;
    cursor: pointer;

}

.icon
{
 font-size: 12px;
}

.create
{
  height: auto;
  border: 1px solid white;
  box-shadow: 3px 3px 8px grey;
  display: flex;
  flex-direction: column;
padding: 15px;
  margin: 15px;

}

.create .form-input
{
    height: 35px;
  border-radius: 5px;
  border: 1px solid grey;
}
.create .form-div
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.create .form-input:focus
{

    outline: none;
    border: 2px solid #2596be;


}
.create p
{
  padding-left: 5px;
  font-size: 15px;
  display: inline-block;
}
.create p:hover
{
   animation: moving 2s ;
}
@keyframes moving
{
   0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);

    /* Change this value for different spread */
  }
}
.save_cancel
{
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

.save_cancel button
{
  margin-top: 10px;
  height: 35px;
  border-radius: 5px;
  width: 70px;
  border: none;
}
.save_cancel input
{
  margin-top: 10px;
  width: 100px;
  height: 30px;
   border-radius: 5px;
  border: 1px solid grey;
}
.save_cancel .save
{
  background-color: #3c8eb4c3 ;

}
.save_cancel .cancel
{
  background-color: #888;

}
 button:hover
{

  cursor: pointer;
  transform: translatey(-5px);
  transition: 0.2s ease;
  box-shadow: 3px 3px 8px grey;

}


  /* background-color: #d60f49; */


.map-container {
    width: 100%;
    height: 400px;
    display: inline-block; /* Initially hidden */
  }
  .input-container {
    margin-bottom: 10px;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 8px grey;
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 3px 3px 8px grey;
  }
  #saveButton {
    margin-top: 10px;
  }
  .input-container
  {
    display: flex;
    flex-direction: column ;
  }

.input-container button
{
    margin-top: 15px;
    margin-right: 5px;
    width: 70px;
     height: 35px;
  border-radius: 5px;
  background-color: #3c8eb4c3 ;

}

.input-container input
{
    width: 30%;
     height: 35px;
    margin-top: 15px;
    margin-right: 5px;
  border-radius: 5px;
  border: 1px solid grey;

}

  .input-container input:focus
{

 box-shadow: 3px 3px 8px grey;
    outline: none;

}


